footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    color: white;
    font-family: Karla;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

footer img {
    max-width: 300px;
    margin-top: 0;
    padding-top: 0;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #F4CE14;
    text-align: left;
    font-style: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-section ul li {
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-align: left;
}