.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #FFFEFE;
    width: 100%;
    gap: 3rem;
    height: 100px;
    box-sizing: border-box;
}

.header .logo {
    height: 50px;
}

.nav {
    display: flex;
    gap: 3rem;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
    color: black;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
    }

    .nav {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .nav ul {
        flex-direction: row;
        gap: 0.5rem;
    }

    .nav a {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .header {
        padding: 0.5rem;
        width: 100%;
        position: relative;
    }

    .header .logo {
        display: none;
    }

    .nav {
        gap: 0.5rem;
    }

    .nav ul {
        gap: 0.5rem;
    }

    .nav a {
        font-size: 0.9rem;
    }
}